marker#child {
  fill: red;
}

g.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

g.node.selected circle {
  fill: red;
  stroke-width: 1.5px;
}

g.node.selected_target circle {
  fill: pink;
  stroke-width: 1.5px;
}

g.node text,
g.node a {
  pointer-events: none;
  font: 10px sans-serif;
  fill: #fff;
}

line.link {
  stroke: #999;
  stroke-opacity: 0.8;
  stroke-width: 6px;
}

line.new_line {
  stroke: yellow;
  stroke-opacity: 0.8;
  stroke-width: 6px;
}

line.selected {
  stroke: red;
  stroke-opacity: 1;
}

rect {
  fill: #000;
}

#chart {
  background-color: #000;
  margin: 0px;
  padding: 0px;
}
